@media screen and (max-width:1366px) {
    /*Screens such as: 
    tab
    */
    /*1349 or less than 1349*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }

    .content-box-md {
        padding: 40px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    /*************************************************
        HOME SECTION
    *************************************************/

    .home-container {
        display: block;
        position: relative;
        z-index: 0;
    }

    .home-container .content-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: auto;
    }

    .home-container .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 2;
    }

    .home-container .content-left {
        position: inherit;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .home-container .logo {
        padding: 20px 5%;
    }

    .blob-image-container {
        display: block;
        height: 140px;
        width: 140px;
    }

    .blob-image-container img {
        height: 140px;
        width: 140px;
    }

    .empty-blob-image-container {
        display: block;
        height: 140px;
        width: 140px !important;
    }

    .mobile-view-none {
        display: block;
    }

    .blob-image-container {
        width: unset;
    }

    .greeting {
        font-size: 28px;
    }

    .name {
        margin-top: 10px;
        font-size: 42px;
    }

    .proffession {
        margin-top: 10px;
        font-size: 48px;
    }

    .home-container .highlighted-grey {
        color: #fefefe;
    }

    .home-container .details {
        padding-top: 20%;
        padding-left: 5%;
    }

    .home-container .social-links a {
        color: #fefefe;
        font-size: 16px;
    }

    .home-container .social-links {
        background: rgba(66, 160, 127, 0.3);
    }

    /*************************************************
        ABOUT SECTION
    *************************************************/

    .about-container {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-container .content-container {
        display: flex;
    }

    .about-container .content-left {
        width: 100%;
    }

    .about-container .content-right {
        width: 100%;
        height: 55vh;
        display: block;
    }

    .about-container .content-right .image-container {
        left: 5%;
    }

    /*************************************************
        SKILLS SECTION
    *************************************************/
    .skill-container {
        height: auto;
    }

    .skills-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin: auto;
    }

    .languages,
    .designing-skills,
    .soft-skills {
        width: 300px;
        height: auto;
        margin: 20px 10px;
    }

    /*************************************************
        PEOJECT SECTION
    *************************************************/
    .project-container .container {
        padding-left: 70px;
        padding-right: 70px;
    }

    .project-row {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        justify-content: center;
        margin: auto;
    }

    .project-box {
        width: 320px;
        height: 320px;
    }

    .project-type {
        transform: rotate(-90deg) translate(350px, 140px);
        transition: all .3s ease-in-out;
    }

    .project-box img {
        height: auto;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    .testimonial-container {
        height: 100vh;
    }

    .review-box {
        padding: unset;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    #review-slick .slick-next,
    #review-slick .slick-prev {
        display: block !important;
    }

    #review-slick .slick-prev {
        left: 44%;
        top: 260px;
    }

    #review-slick .slick-next {
        left: unset;
        right: 44%;
        top: 260px;
    }

    /*************************************************
        CONTACT SECTION
    *************************************************/
    .contact-container {
        height: auto;
    }

    .contact-box {
        display: flex;
    }

    .location-contact-details,
    .form-contact-details {
        width: auto;
        padding: 20px;
        margin: 10px;
        border-radius: unset;
    }

    .form-contact-details {
        width: 100%;
    }

    .location-contact-details {
        display: block;
    }

    /*************************************************
        SOCIAL SECTION
    *************************************************/

    .social-container .social-links {
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-container {
        height: 20vh;
    }

    .social-container .container {
        padding: 0;
    }

    .social-box {
        margin-top: 25px;
    }

    .social-links p {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 16px;
    }

    .social-links img {
        height: 22px;
        width: 22px;
        margin-top: 2px;
    }

    .triangle {
        background: var(--offWhite);
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 240px 50px 240px;
        border-color: transparent transparent var(--green) transparent;
    }

    .footer {
        font-size: 16px;
    }
}
@media screen and (max-width:1200px) {

    /*Screens such as: 
    tab
    */
    /*1200 or less than 1200*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }

    .content-box-md {
        padding: 40px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    /*************************************************
        HOME SECTION
    *************************************************/

    .home-container {
        display: block;
        position: relative;
        z-index: 0;
    }

    .home-container .content-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: auto;
    }

    .home-container .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 2;
    }

    .home-container .content-left {
        position: inherit;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .home-container .logo {
        padding: 20px 5%;
    }

    .blob-image-container {
        display: block;
        height: 140px;
        width: 140px;
    }

    .blob-image-container img {
        height: 140px;
        width: 140px;
    }

    .empty-blob-image-container {
        display: block;
        height: 140px;
        width: 140px !important;
    }

    .mobile-view-none {
        display: block;
    }

    .blob-image-container {
        width: unset;
    }

    .greeting {
        font-size: 28px;
    }

    .name {
        margin-top: 10px;
        font-size: 42px;
    }

    .proffession {
        margin-top: 10px;
        font-size: 48px;
    }

    .home-container .highlighted-grey {
        color: #fefefe;
    }

    .home-container .details {
        padding-top: 23%;
        padding-left: 5%;
    }

    .home-container .social-links a {
        color: #fefefe;
        font-size: 16px;
    }

    .home-container .social-links {
        background: rgba(66, 160, 127, 0.3);
    }

    /*************************************************
        ABOUT SECTION
    *************************************************/

    .about-container {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-container .content-container {
        display: flex;
    }

    .about-container .content-left {
        width: 100%;
    }

    .about-container .content-right {
        width: 100%;
        height: 55vh;
        display: block;
    }

    .about-container .content-right .image-container {
        left: -15%;
    }

    /*************************************************
        SKILLS SECTION
    *************************************************/
    .skill-container {
        height: auto;
    }

    .skills-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin: auto;
    }

    .languages,
    .designing-skills,
    .soft-skills {
        width: 350px;
        height: auto;
        margin: 20px 10px;
    }

    /*************************************************
        PEOJECT SECTION
    *************************************************/
    .project-container .container {
        padding-left: 70px;
        padding-right: 70px;
    }

    .project-row {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        justify-content: center;
        margin: auto;
    }

    .project-box {
        width: 320px;
        height: 320px;
    }

    .project-type {
        transform: rotate(-90deg) translate(350px, 140px);
        transition: all .3s ease-in-out;
    }

    .project-box img {
        height: auto;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    .testimonial-container {
        height: 100vh;
    }

    .review-box {
        padding: unset;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    #review-slick .slick-next,
    #review-slick .slick-prev {
        display: block !important;
    }

    #review-slick .slick-prev {
        left: 40%;
        top: 260px;
    }

    #review-slick .slick-next {
        left: unset;
        right: 41%;
        top: 260px;
    }

    /*************************************************
        CONTACT SECTION
    *************************************************/
    .contact-container {
        height: auto;
    }

    .contact-box {
        display: flex;
    }

    .location-contact-details,
    .form-contact-details {
        width: auto;
        padding: 20px;
        margin: 10px;
        border-radius: unset;
    }

    .form-contact-details {
        width: 100%;
    }

    .location-contact-details {
        display: block;
    }

    /*************************************************
        SOCIAL SECTION
    *************************************************/

    .social-container .social-links {
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-container {
        height: 20vh;
    }

    .social-container .container {
        padding: 0;
    }

    .social-box {
        margin-top: 25px;
    }

    .social-links p {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 16px;
    }

    .social-links img {
        height: 22px;
        width: 22px;
        margin-top: 2px;
    }

    .triangle {
        background: var(--offWhite);
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 240px 50px 240px;
        border-color: transparent transparent var(--green) transparent;
    }

    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width:992px) {

    /*Screens such as: 
    tab
    */
    /*992 or less than 992*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .content-box-md {
        padding: 40px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    /*************************************************
        HOME SECTION
    *************************************************/

    .home-container {
        display: block;
        position: relative;
        z-index: 0;
    }

    .home-container .content-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        width: auto;
    }

    .home-container .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 2;
    }

    .home-container .content-left {
        position: inherit;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .home-container .logo {
        padding: 20px 5%;
    }

    .blob-image-container {
        display: block;
        height: 140px;
        width: 140px;
    }

    .blob-image-container img {
        height: 140px;
        width: 140px;
    }

    .empty-blob-image-container {
        display: block;
        height: 140px;
        width: 140px !important;
    }

    .mobile-view-none {
        display: block;
    }

    .blob-image-container {
        width: unset;
    }

    .greeting {
        font-size: 24px;
    }

    .name {
        margin-top: 10px;
        font-size: 38px;
    }

    .proffession {
        margin-top: 10px;
        font-size: 42px;
    }

    .home-container .highlighted-grey {
        color: #fefefe;
    }

    .home-container .details {
        padding-top: 30%;
        padding-left: 5%;
    }

    .home-container .social-links a {
        color: #fefefe;
        font-size: 16px;
    }

    .home-container .social-links {
        background: rgba(66, 160, 127, 0.3);
    }

    /*************************************************
        ABOUT SECTION
    *************************************************/

    .about-container {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-container .content-container {
        display: block;
    }

    .about-container .content-left {
        width: 100%;
    }

    .about-container .content-right {
        width: 100%;
        height: 55vh;
        display: none;
    }

    .about-container .content-right .image-container {
        left: -25%;
    }

    /*************************************************
        SKILLS SECTION
    *************************************************/
    .skill-container {
        height: auto;
    }

    .skills-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: fit-content;
        margin: auto;
    }

    .languages,
    .designing-skills,
    .soft-skills {
        width: 350px;
        height: auto;
        margin: 20px 10px;
    }

    /*************************************************
        PEOJECT SECTION
    *************************************************/
    .project-container .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .project-row {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        justify-content: center;
        margin: auto;
    }

    .project-box {
        width: 350px;
        height: 350px;
    }

    .project-type {
        transform: rotate(-90deg) translate(390px, 160px);
        transition: all .3s ease-in-out;
    }

    .project-box img {
        height: auto;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    .testimonial-container {
        height: 100vh;
    }

    .review-box {
        padding: unset;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    #review-slick .slick-next,
    #review-slick .slick-prev {
        display: block !important;
    }

    #review-slick .slick-prev {
        left: 38.5%;
        top: 280px;
    }

    #review-slick .slick-next {
        left: unset;
        right: 41%;
        top: 280px;
    }

    /*************************************************
        CONTACT SECTION
    *************************************************/
    .contact-container {
        height: auto;
    }

    .contact-box {
        display: block;
    }

    .location-contact-details,
    .form-contact-details {
        width: auto;
        padding: 20px;
        margin: 10px;
        border-radius: unset;
    }

    .location-contact-details {
        display: block;
    }

    /*************************************************
        SOCIAL SECTION
    *************************************************/

    .social-container .social-links {
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-container {
        height: 20vh;
    }

    .social-container .container {
        padding: 0;
    }

    .social-box {
        margin-top: 25px;
    }

    .social-links p {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 16px;
    }

    .social-links img {
        height: 22px;
        width: 22px;
        margin-top: 2px;
    }

    .triangle {
        background: var(--offWhite);
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 240px 50px 240px;
        border-color: transparent transparent var(--green) transparent;
    }

    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {

    /*Screens such as: 
    tab
    */
    /*768 or less than 768*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .content-box-md {
        padding: 40px 0;
    }

    .vertical-section-name {
        display: block;
    }

    .row {
        width: fit-content;
    }

    /*************************************************
        HOME SECTION
    *************************************************/

    .home-container {
        display: block;
        position: relative;
        z-index: 0;
    }

    .home-container .content-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        width: auto;
    }

    .home-container .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 2;
    }

    .home-container .content-left {
        position: inherit;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .home-container .logo {
        padding: 20px 5%;
    }

    .blob-image-container {
        display: block;
        height: 120px;
        width: 120px;
    }

    .empty-blob-image-container {
        display: block;
        height: 120px;
        width: 120px !important;
    }
    .blob-image-container img {
        height: 120px;
        width: 120px;
    }
    .mobile-view-none {
        display: block;
    }

    .blob-image-container {
        width: unset;
    }

    .greeting {
        font-size: 24px;
    }

    .name {
        margin-top: 10px;
        font-size: 32px;
    }

    .proffession {
        margin-top: 10px;
        font-size: 36px;
    }

    .home-container .highlighted-grey {
        color: #fefefe;
    }

    .home-container .details {
        padding-top: 40%;
        padding-left: 5%;
    }

    .home-container .social-links a {
        color: #fefefe;
        font-size: 16px;
    }

    .home-container .social-links {
        background: rgba(66, 160, 127, 0.3);
    }

    /*************************************************
        ABOUT SECTION
    *************************************************/

    .about-container {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-container .content-container {
        display: block;
    }

    .about-container .content-left {
        width: 100%;
    }

    .about-container .content-right {
        width: 100%;
        height: 55vh;
        display: none;
    }

    .about-container .content-right .image-container {
        left: -5%;
    }
    .content-left .personal-statement{
        text-align: justify;
    }
    /*************************************************
        SKILLS SECTION
    *************************************************/
    .skill-container {
        height: auto;
    }

    .skills-content {
        display: block;
        width: fit-content;
        margin: auto;
    }

    .languages,
    .designing-skills,
    .soft-skills {
        width: 400px;
        height: auto;
        margin: 20px 10px;
    }

    /*************************************************
        PEOJECT SECTION
    *************************************************/
    .project-container .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .project-row {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        margin: auto;
    }

    .project-box {
        width: 310px;
        height: 310px;
    }

    .project-type {
        transform: rotate(-90deg) translate(330px, 140px);
        transition: all .3s ease-in-out;
    }

    .project-box img {
        height: auto;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    .testimonial-container {
        height: auto;
    }

    .review-box {
        padding: unset;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    #review-slick .slick-next,
    #review-slick .slick-prev {
        display: none !important;
    }

    /*************************************************
        CONTACT SECTION
    *************************************************/
    .contact-container {
        height: auto;
    }

    .contact-box {
        display: block;
    }

    .location-contact-details,
    .form-contact-details {
        width: auto;
        padding: 20px;
        margin: 10px;
        border-radius: unset;
    }

    .location-contact-details {
        display: none;
    }

    /*************************************************
        SOCIAL SECTION
    *************************************************/

    .social-container .social-links {
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-container {
        height: 20vh;
    }

    .social-container .container {
        padding: 0;
    }

    .social-box {
        margin-top: 25px;
    }

    .social-links p {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 16px;
    }

    .social-links img {
        height: 22px;
        width: 22px;
        margin-top: 2px;
    }

    .triangle {
        background: var(--offWhite);
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 240px 50px 240px;
        border-color: transparent transparent var(--green) transparent;
    }

    .footer {
        font-size: 16px;
    }

}

@media screen and (max-width:500px) {

    /*Screens such as: 
    one plus
    */
    /*500 or less than 500*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .content-box-md {
        padding: 40px 0;
    }

    .vertical-section-name {
        display: none;
    }

    /*************************************************
        HOME SECTION
    *************************************************/

    .home-container {
        display: block;
        position: relative;
        z-index: 0;
    }

    .home-container .content-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .home-container .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 2;
    }

    .home-container .content-left {
        position: inherit;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .home-container .logo {
        padding: 20px 5%;
    }

    .blob-image-container {
        display: block;
        height: 140px;
        width: 140px;
    }

    .blob-image-container img {
        height: 140px;
        width: 140px;
    }

    .empty-blob-image-container {
        height: 140px;
        width: 140px !important;
    }

    .empty-blob-image-container {
        display: none;
    }

    .mobile-view-none {
        display: none;
    }

    .blob-image-container {
        width: unset;
    }

    .greeting {
        font-size: 24px;
    }

    .name {
        margin-top: 10px;
        font-size: 32px;
    }

    .proffession {
        margin-top: 10px;
        font-size: 36px;
    }

    .home-container .highlighted-grey {
        color: #fefefe;
    }

    .home-container .details {
        padding-top: 60%;
        padding-left: 5%;
    }

    .home-container .social-links a {
        color: #fefefe;
        font-size: 16px;
    }

    .home-container .social-links {
        background: rgba(66, 160, 127, 0.3);
    }

    /*************************************************
        ABOUT SECTION
    *************************************************/

    .about-container {
        position: relative;
        height: 100vh;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-container .content-container {
        display: block;
    }

    .about-container .content-left {
        width: 100%;
    }

    .about-container .content-right {
        width: 100%;
        height: 45vh;
        display: none;
    }

    .about-container .content-right .image-container {
        left: -150px;
    }

    /*************************************************
        SKILLS SECTION
    *************************************************/
    .skill-container {
        height: auto;
    }

    .skills-content {
        display: block;
    }

    .languages,
    .designing-skills,
    .soft-skills {
        width: auto;
        height: auto;
        margin: 15px 10px;
    }

    /*************************************************
        PEOJECT SECTION
    *************************************************/
    .project-container .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .project-row {
        display: block;
    }

    .project-box {
        width: auto;
        height: 400px;
    }

    .project-type {
        transform: rotate(-90deg) translate(390px, 160px);
        transition: all .3s ease-in-out;
    }

    .project-box:hover .hover-content {
        transform: translateY(-60px);
    }
    .project-box img{
        height: -webkit-fill-available;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    .testimonial-container {
        height: auto;
    }

    .review-box {
        padding: unset;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/
    #review-slick .slick-next,
    #review-slick .slick-prev {
        display: none !important;
    }

    /*************************************************
        CONTACT SECTION
    *************************************************/
    .contact-container {
        height: auto;
    }

    .contact-box {
        display: block;
    }

    .location-contact-details,
    .form-contact-details {
        width: auto;
        padding: 20px;
        margin: 10px;
        border-radius: unset;
    }

    .location-contact-details {
        display: none;
    }

    /*************************************************
        SOCIAL SECTION
    *************************************************/

    .social-container .social-links {
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-container .container {
        padding: 0;
    }

    .social-links p {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 12px;
    }

    .social-links img {
        height: 22px;
        width: 22px;
        margin-top: 2px;
    }

    .triangle {
        background: var(--offWhite);
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 240px 50px 240px;
        border-color: transparent transparent var(--green) transparent;
    }

    .footer {
        font-size: 14px;
    }

}

@media screen and (max-width:400px) {

    /*400 or less than 400*/
    /*************************************************
        GENERAL SECTION
    *************************************************/
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .vertical-section-name {
        display: none;
    }

    /*************************************************
        HOME SECTION
    *************************************************/

    .home-container {
        display: block;
        position: relative;
        z-index: 0;
    }

    .home-container .content-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .home-container .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 2;
    }

    .home-container .content-left {
        position: inherit;
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    .home-container .logo {
        padding: 20px 5%;
    }

    .empty-blob-image-container {
        display: none;
    }

    .mobile-view-none {
        display: none;
    }

    .blob-image-container {
        width: unset;
    }

    .greeting {
        font-size: 24px;
    }

    .name {
        margin-top: 10px;
        font-size: 32px;
    }

    .proffession {
        margin-top: 10px;
        font-size: 30px;
    }

    .home-container .highlighted-grey {
        color: #fefefe;
    }

    .home-container .details {
        padding-top: 60%;
        padding-left: 5%;
    }

    .home-container .social-links a {
        color: #fefefe;
        font-size: 16px;
    }

    .home-container .social-links {
        background: rgba(66, 160, 127, 0.3);
    }

    /*************************************************
        ABOUT SECTION
    *************************************************/

    .about-container {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .about-container .content-container {
        display: block;
    }

    .about-container .content-left {
        width: 100%;
    }

    .about-container .content-right {
        width: 100%;
        height: 50vh;
    }

    .about-container .content-right .image-container {
        left: -170px;
    }

    .about-container .large-img img {
        width: 340px;
        transform: translate(150px, 20px);
        position: absolute;
        top: 15px;
        left: 145px;
        z-index: 1;
    }

    .about-container .medium-img img {
        width: 320px;
        transform: translate(160px, -365px);
        position: absolute;
        top: 25px;
        left: 155px;
        z-index: 2;
    }

    .about-container .small-img img {
        width: 300px;
        transform: translate(170px, -730px);
        position: absolute;
        top: 35px;
        left: 165px;
        z-index: 3;
    }

    .about-container .personal-img img {
        width: 200px;
        transform: translate(50px, 50px);
        position: absolute;
        top: 35px;
        left: 165px;
        z-index: 4;
    }


    /*************************************************
        SKILLS SECTION
    *************************************************/
    .skill-container {
        height: auto;
    }

    .skills-content {
        display: block;
    }

    .languages,
    .designing-skills,
    .soft-skills {
        width: auto;
        height: auto;
        margin: 20px 0;
    }

    /*************************************************
        PEOJECT SECTION
    *************************************************/
    .project-row {
        display: block;
    }

    .project-box {
        width: auto;
        height: 336px;
    }

    .project-type {
        transform: rotate(-90deg) translate(360px, 140px);
        transition: all .3s ease-in-out;
    }
    .project-box:hover .hover-content {
        transform: translateY(-60px);
    }
    /*************************************************
        REVIEW SECTION
    *************************************************/
    .testimonial-container {
        height: auto;
    }

    .review-box {
        padding: unset;
    }

    /*************************************************
        REVIEW SECTION
    *************************************************/

    #review-slick .slick-next {
        position: absolute;
        top: 390px;
        left: 52%;
    }

    #review-slick .slick-prev {
        position: absolute;
        top: 390px;
        left: 29%;
    }

    /*************************************************
        CONTACT SECTION
    *************************************************/
    .contact-container {
        height: auto;
    }

    .contact-box {
        display: block;
    }

    .location-contact-details,
    .form-contact-details {
        width: auto;
        padding: 10px;
        margin: 10px;
        border-radius: unset;
    }

    .detail-title {
        font-size: 12px;
    }

    .contact-container .contact-detail-container div {
        background-color: #EAF6E9;
        padding: 5px 7px;
        border-radius: 50%;
        margin-top: 7px;
    }

    .contact-container .contact-detail-container img {
        height: 30px;
        width: 30px;
    }

    .location-contact-details {
        display: none;
    }

    /*************************************************
        SOCIAL SECTION
    *************************************************/

    .social-container .social-links {
        padding-left: 5px;
        padding-right: 5px;
    }

    .social-container .container {
        padding: 0;
    }

    .social-links p {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 9px;
    }

    .triangle {
        background: var(--offWhite);
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 200px 50px 200px;
        border-color: transparent transparent var(--green) transparent;
    }

    .social-links img {
        height: 20px;
        width: 20px;
    }

    .footer {
        font-size: 12px;
    }

}