/*******************************************************************************
                                GLOBAL CSS
*******************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', 'sans-serif';
}

:root {
    --orange: #d66053;
    --green: #42a07f;
    --grey: #596782;
    --offWhite: #FEFEFE;
}

/*******************************************************************************
                                GENERAL CSS
*******************************************************************************/
.row {
    display: flex;
    /* overflow: hidden; */
}

.highlighted-orange {
    color: var(--orange);
}

.highlighted-green {
    color: var(--green);
}

.highlighted-grey {
    color: var(--grey);
}

/*******************************************************************************
                            SECTION NAME CSS
*******************************************************************************/
.vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.section-name h1 {
    font-size: 34px;
}

/*******************************************************************************
                                 HOME CSS
*******************************************************************************/
.home-container .vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.home-container .vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.home-container .horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.home-container .vertical-section-name .home-section-name {
    transform: translate(30px, 15px);
}

.home-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
}

.home-container .content-left {
    width: 45%;
    height: 100vh;
    z-index: 3;
}

.home-container .content-right {
    width: 55%;
    height: 100vh;
    z-index: 1;
}

.home-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.home-container .logo {
    padding: 20px 15%;
}

.home-container .logo h2 {
    font-size: 32px;
}

.home-container .details {
    padding-top: 40%;
    padding-left: 15%;
}

.greeting {
    font-size: 32px;
    font-weight: 400;
}

.name {
    font-size: 42px;
}

.proffession {
    font-size: 44px;
}

.blob-image-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.empty-blob-image-container {
    height: 120px;
    width: 120px;
}

.blob-image-container img {
    height: 120px;
    width: 120px;
}

.scale-rotate {
    perspective: 1000px;
    animation: scaleRotate linear infinite;
    animation-duration: 7s;
    animation-delay: 2s;
}

.round-a-object {
    perspective: 1000px;
    animation: roundAObject linear infinite;
    animation-duration: 2s;
    animation-delay: 5s;
}

.round-a-object-spl {
    perspective: 1000px;
    animation: roundAObjectSpl linear infinite;
    animation-duration: 2s;
    animation-delay: 5s;
}

.rotate-me {
    perspective: 1000px;
    animation: rotateMe linear infinite;
    animation-duration: 9s;
    animation-delay: 9s;
}

.rotate-me-right {
    perspective: 1000px;
    animation: rotateMeRight linear infinite;
    animation-duration: 14s;
    animation-delay: 5s;
}

.delay-animation-15 {
    animation-delay: 15s;
}

/* @keyframes scaleRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    20% {
        transform: rotate(90deg) scale(0.71);
    }

    30% {
        transform: rotate(90deg) scale(0.7);
    }

    40% {
        transform: rotate(90deg) scale(0.9);
    }

    50% {
        transform: rotate(0deg) scale(0.8);
    }

    60% {
        transform: rotate(0deg) scale(0.9);
    }

    70% {
        transform: rotate(-90deg) scale(0.95);
    }

    90% {
        transform: rotate(-90deg) scale(1);
    }

    100% {
        transform: rotate(-90deg)
    }
}

@keyframes roundAObject {
    0% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    10% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    15% {
        transform: rotate(0deg) scale(1);
        border-radius: 20%;
    }

    25% {
        transform: rotate(90deg) scale(0.8);
        border-radius: 50%;
    }

    50% {
        transform: rotate(180deg) scale(0.75);
        border-radius: 100%;
    }

    75% {
        transform: rotate(90deg) scale(0.8);
        border-radius: 50%;
    }

    80% {
        transform: rotate(0deg) scale(1);
        border-radius: 20%;
    }

    90% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    100% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }
}

@keyframes roundAObjectSpl {
    0% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    10% {
        transform: rotate(-180deg) scale(0.8);
        border-radius: 50%;
    }

    15% {
        transform: rotate(-270deg) scale(0.6);
        border-radius: 100%;
    }

    25% {
        transform: rotate(-320deg) scale(0.6);
        border-radius: 100%;
    }

    50% {
        transform: rotate(-90deg) scale(0.09);
        border-radius: 50%;
    }

    75% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    80% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    90% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }

    100% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }
}
@keyframes rotateMe {
    0% {
        transform: rotate(0deg)
    }

    15% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(-90deg)
    }

    35% {
        transform: rotate(-90deg);
    }

    45% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-90deg)
    }

    75% {
        transform: rotate(0deg)
    }

    80% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes rotateMeRight {
    0% {
        transform: rotate(0deg)
    }

    20% {
        transform: rotate(90deg)
    }

    30% {
        transform: rotate(90deg)
    }

    40% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(180deg)
    }

    60% {
        transform: rotate(270deg);
    }

    70% {
        transform: rotate(270deg);
    }

    80% {
        transform: rotate(360deg)
    }

    90% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg)
    }
} */

.blank-container {
    height: 100vh;
    width: 100%;
}

/*******************************************************************************
                                 ABOUT CSS
*******************************************************************************/

.about-container .vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.about-container .vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.about-container .horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.about-container .vertical-section-name .about-section-name {
    transform: translate(30px, 15px);
}

.about-container {
    height: 100vh;
    position: relative;
    background-color: var(--offWhite);
}

.about-container .content-container {
    display: flex;
    height: 100%;
}

.about-container .content-left {
    width: 50%;
    height: 100%;
}

.content-left a {
    text-decoration: none;
}

.content-left .personal-statement {
    font-size: 16px;
}

.about-container .content-right {
    width: 50%;
    height: 100%;
}

.about-container .content-right .image-container {
    position: relative;
}

.about-container .large-img img {
    width: 390px;
    transform: translate(150px, 20px);
    position: absolute;
    top: 15px;
    left: 150px;
    z-index: 1;
}

.about-container .medium-img img {
    width: 370px;
    transform: translate(160px, -365px);
    position: absolute;
    top: 25px;
    left: 160px;
    z-index: 2;
}

.about-container .small-img img {
    width: 350px;
    transform: translate(170px, -730px);
    position: absolute;
    top: 35px;
    left: 170px;
    z-index: 3;
}

.about-container .personal-img img {
    width: 250px;
    transform: translate(50px, 50px);
    position: absolute;
    top: 35px;
    left: 170px;
    z-index: 4;
}

.round-me {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: roundMeSlow infinite alternate;
    animation-duration: 7s;
}

.round-me-fast {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: roundMeFast infinite alternate;
    animation-duration: 7s;
}

@keyframes roundMeSlow {
    0% {
        transform: rotate(110deg) scale(0.95)
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: rotate(270deg) scale(1)
    }
}

@keyframes roundMeFast {
    0% {
        transform: rotate(40deg) scale(1.05)
    }

    100% {
        transform: rotate(-360deg) scale(1)
    }
}

/*******************************************************************************
                                 SKILLS CSS
*******************************************************************************/
.skill-container {
    position: relative;
    height: 100vh;
    background-color: var(--offWhite);
}

.skill-container .vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.skill-container .vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.skill-container .horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.skill-container .vertical-section-name .skill-section-name {
    transform: translate(30px, 15px);
}

.skills-content {
    display: flex;
    /* justify-content: space-around; */
}

.language-container {
    display: flex;
    justify-content: space-between;
}

.languages,
.designing-skills,
.soft-skills {
    width: 380px;
    height: 380px;
    margin: 25px;
    background: #e3e3e3;
    border-radius: 10px;
    padding: 50px 30px;
    transform-style: preserve-3d;
}

.languages p,
.designing-skills p,
.soft-skills p {
    padding-top: 10px;
    font-weight: 500;
    transform: translateZ(20px);
}

/*******************************************************************************
                                 PROJECT CSS
*******************************************************************************/
.project-container {
    position: relative;
    background-color: var(--offWhite);
}

.project-container .vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.project-container .vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.project-container .horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.project-container .vertical-section-name .project-section-name {
    transform: translate(30px, 15px);
}

.project-row {
    display: flex;
}

.project-box {
    height: 350px;
    width: 50%;
    margin: 2px;
    overflow: hidden;
    position: relative;
}

.project-box:hover .hover-content {
    transform: translateY(-60px);
}

.project-box img {
    height: 350px;
    width: 100%;
}

.hover-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    transition: all .3s ease-in-out;
}

.project-type {
    transform: rotate(-90deg) translate(410px, 170px);
    transition: all .3s ease-in-out;
}

.project-type h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

.project-box:hover .project-type {
    transform: translateY(-60px);
}

.project-links {
    text-align: center;
}

.project-links i {
    padding: 7px;
    color: #FEFEFE;
}

.project-links a {
    text-decoration: none;
    color: #FEFEFE;
}

.project-links a:hover {
    color: var(--orange);
}

.project-links a span {
    margin: 5px;
}

.project-links i:hover {
    background: var(--orange);
    border-radius: 5px;
}

/*******************************************************************************
                                 REVIEW CSS
*******************************************************************************/

.testimonial-container {
    position: relative;
    height: 100vh;
    background-color: var(--offWhite);
}

.testimonial-container .vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.testimonial-container .vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.testimonial-container .horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.testimonial-container .vertical-section-name .project-section-name {
    transform: translate(30px, 15px);
}

.review-box {
    font-family: 'Crimson Text', serif;
    padding: 0 200px;
}

.review-slick {
    position: relative;
}

.review-box p {
    font-size: 18px;
}

.review-box span {
    font-size: 18px;
    padding: 5px;
    color: #FFD700;
}

.review-quote {
    height: 80px;
    width: 80px;
}

.reviewer-name::before {
    content: '';
    display: inline-block;
    border: 0.5px solid grey;
    width: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.reviewer-name {
    font-size: 20px;
}

/**********************************************
            TYPER CUSTOMIZATION
**********************************************/
.typed-cursor {
    color: var(--grey);
}

/**********************************************
            TYPER CUSTOMIZATION
**********************************************/

.slick-prev:before, .slick-next:before{
    display: none;
}

#review-slick .slick-next,
#review-slick .slick-prev
 {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    border: 2px solid #613842;
    padding: 14px 24px;
    border-radius: 50%;
    text-align: center;
    color: #613842;
}
#review-slick .slick-next{
    position: absolute;
    top: 250px;
    left: 50%;
}
#review-slick .slick-prev{
    position: absolute;
    top: 250px;
    left: 44%;
}