/*******************************************************************************
                                GLOBAL CSS
*******************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', 'sans-serif';
}

:root {
    --orange: #d66053;
    --green: #42a07f;
    --grey: #596782;
    --offWhite: #FEFEFE;
}

/*******************************************************************************
                                GENERAL CSS
*******************************************************************************/
.row {
    display: flex;
    /* overflow: hidden; */
}

.highlighted-orange {
    color: var(--orange);
}

.highlighted-green {
    color: var(--green);
}

.highlighted-grey {
    color: var(--grey);
}

/*******************************************************************************
                            SECTION NAME CSS
*******************************************************************************/
.vertical-section-name {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -40px;
}

.vertical-dash {
    transform: rotate(-90deg);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.horizontal-dash {
    transform: translate(-30px, 5px);
    display: inline-block;
    background: var(--orange);
    height: 1.25px;
    width: 100px;
    border-radius: 10px;
    opacity: 0.5;
}

.section-name {
    transform: translate(30px, 15px);
}

/*******************************************************************************
                                 HOME CSS
*******************************************************************************/
.home-container {
    position: relative;
    display: flex;
    height: 100vh;
    background: #FFFFFF;
    overflow: hidden;
}

.content-left {
    width: 45%;
    height: 100vh;
    z-index: 3;
}

.content-right {
    width: 55%;
    height: 100vh;
    z-index: 1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.095);
    z-index: 2;
}
.logo {
    padding: 20px 15%;
}

.logo h2 {
    font-size: 32px;
}

.details {
    padding-top: 40%;
    padding-left: 15%;
}

.greeting {
    font-size: 32px;
    font-weight: 400;
}

.name {
    font-size: 42px;
}

.proffession {
    font-size: 44px;
}

.blob-image-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    /* perspective: 1000px;
    transition: all .3s ease-in-out;
    animation: rotateSlowSemi alternate-reverse infinite;
    animation-duration: 12s; */
}

.empty-blob-image-container {
    height: 120px;
    width: 120px;
}

.blob-image-container img {
    height: 120px;
    width: 120px;
}

.transform-position {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: transformPosition linear infinite;
    animation-duration: 15s;
    animation-delay: 5s;
}

.rotate-delay-2 {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: rotateSlowSemi linear infinite;
    animation-duration: 7s;
    animation-delay: 2s;
}

.vertical-mover {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: verticalMover linear infinite;
    animation-duration: 7s;
    animation-delay: 2s;
}

.vertical-mover-delayed {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: verticalMover linear infinite;
    animation-duration: 7s;
    animation-delay: 14s;
}

.shift-left {
    perspective: 1000px;
    /* transition: all .3s ease-in-out; */
    animation: shiftLeftRound linear infinite;
    animation-duration: 2s;
    animation-delay: 5s;
}

.rotate-me {
    perspective: 1000px;
    animation: rotateMe linear infinite;
    animation-duration: 8s;
    animation-delay: 9s;
}

.rotate-me-right {
    perspective: 1000px;
    animation: rotateMeRight linear infinite;
    animation-duration: 8s;
    animation-delay: 9s;
}

@keyframes rotateSlowSemi {
    0% {
        transform: rotate(0deg) scale(1);
    }

    20% {
        transform: rotate(90deg) scale(0.71);
    }

    30% {
        transform: rotate(90deg) scale(0.7);
    }

    40% {
        transform: rotate(90deg) scale(0.9);
    }

    50% {
        transform: rotate(0deg) scale(0.8);
    }

    60% {
        transform: rotate(0deg) scale(0.9);
    }

    70% {
        transform: rotate(-90deg) scale(0.95);
    }

    90% {
        transform: rotate(-90deg) scale(1);
    }

    100% {
        transform: rotate(-90deg)
    }
}

@keyframes transformPosition {
    0% {
        transform: rotate(0deg);
        border-radius: 0%;
    }

    25% {
        transform: translateX(240px) scale(0.8);
        border-radius: 50%;
    }

    35% {
        transform: translateX(120px) scale(0.3);
        border-radius: 100%;
    }

    60% {
        transform: translate(120px, 120px) scale(0.6);
        border-radius: 100%;
    }

    70% {
        transform: translateX(120px) scale(0.8);
        border-radius: 40%;
    }

    80% {
        transform: translateX(120px) scale(1);
        border-radius: 20%;
    }

    81% {
        transform: translateX(50px);
        border-radius: 0%;

    }

    90% {
        transform: translateX(0);
        border-radius: 0%;

    }

    100% {
        transform: translateX(0);
        border-radius: 0%;
    }
}

@keyframes verticalMover {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: translateY(120px);
    }

    50% {
        transform: translateY(120px);
    }

    75% {
        transform: translateY(120px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shiftLeftRound {
    0% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }
    10% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }
    15% {
        transform: rotate(0deg) scale(1);
        border-radius: 20%;
    }

    25% {
        transform: rotate(90deg) scale(0.8);
        border-radius: 50%;
    }

    50% {
        transform: rotate(180deg) scale(0.75);
        border-radius: 100%;
    }

    75% {
        transform: rotate(90deg) scale(0.8);
        border-radius: 50%;
    }

    80% {
        transform: rotate(0deg) scale(1);
        border-radius: 20%;
    }
    90% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }
    100% {
        transform: rotate(0deg) scale(1);
        border-radius: 0%;
    }
}

@keyframes rotateMe {
    0% {
        transform: rotate(0deg)
    }

    15% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(-90deg)
    }

    35% {
        transform: rotate(-90deg);
    }

    45% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-90deg)
    }

    75% {
        transform: rotate(0deg)
    }

    80% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

@keyframes rotateMeRight {
    0% {
        transform: rotate(0deg)
    }

    15% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(90deg)
    }

    35% {
        transform: rotate(90deg);
    }

    45% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(90deg)
    }

    75% {
        transform: rotate(0deg)
    }

    80% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

/**********************************************
            TYPER CUSTOMIZATION
**********************************************/
.typed-cursor{
    color: var(--grey);
}